<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Libros" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="nuevolibro" class="btn btn-outline-dark">Nuevo Libro</a>
            <button (click)="descargarReporte()" type="button" class="btn btn-outline-danger">Descargar</button>
          </h5>
          <div class="card tbl-card" id="impresion">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TITULO</th>
                    <th>ISBN</th>
                    <th>GENERO</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (libro of listaLibro; track $index) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>{{ libro.titulo }}</td>
                      <td>{{ libro.isbn }}</td>
                      <td>{{ libro.genero }}</td>
                      <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/editarlibro/', libro.libro_id]">
                          Editar
                        </button>
                        <button (click)="eliminar(libro.libro_id)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>

