<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Autores" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="nuevoautor" class="btn btn-outline-dark">Nuevo Autor</a>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionalidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (autor of listaAutor; track $index) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>{{ autor.nombre }}</td>
                      <td>{{ autor.apellido }}</td>
                      <td>{{ autor.nacionalidad }}</td>
                      <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/editarautor/', autor.autor_id]">
                          Editar
                        </button>
                        <button (click)="eliminar(autor.autor_id)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
